{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}

{% block title %}
    {% if add_fault %}
        Add Fault
    {% else %}
        Edit Fault
    {% endif %}
 {% endblock %}   

{% block content %}
{% block body %}

<div class="content-section">
   <div class="outer">
      <div class="middle">
        <div class="inner">
           <div class="center">
                  <h2>{% if add_fault %}
                    Add Fault
                  {% else %}
                    Edit Fault
                  {% endif %}</h2>
                 <br/>
                  {{ wtf.quick_form(form) }}
              </div>
           </div>
        </div>
    </div>
 </div>