{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}Stations{% endblock %}

{% block content %}


  <div class="content-section">
        <br/>
        {{ utils.flashed_messages() }}
        <br/>

        <h1 style="text-align:center;">Stations</h1>
          <hr class="intro-divider">
          <div class="center">
            <a href="{{ url_for('admin.add_station') }}" class="button is-primary is_outlined">
              <i class="fa fa-plus"></i>
              Add Station
            </a>
            {% if stations %}
             <table class="table table-striped table-bordered">
               <thead>
                 <tr>
                   <th width="40%"> Name </th>
                   <th width="15%"> Edit </th>
                   <th width="15%"> Delete </th>
                 </tr>
               </thead>
               <tbody>
               {% for station in stations %}
                   <tr>
                     <td> {{ station.name }} </td>
                     <td>
                      {% set default_value ='Basic' %}
                       <a href="{{ url_for('admin.edit_station', id=station.id) }}" {% if station.name == default_value %}  hidden {% endif %}>
                         <i class="fa fa-pencil"></i> Edit 
                       </a>
                     </td>
                     <td>
                        <a href="{{ url_for('admin.delete_station', id=station.id) }}" {% if station.name == default_value %}  hidden {% endif %}>
                           <i class="fa fa-trash"></i> Delete 
                        </a>
                     </td>
                   </tr>
               {% endfor %}
                </tbody>
          </table>
          </div>
          <div style="text-align: center">
         {% else %}
          <div style="text-align: center">
            <h3> No station have been added. </h3>
            <hr class="intro-divider">
        {% endif %}
      
          </div>
          </div>
  </div>


  
{% endblock %}
