{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}

{% block title %}
    {% if add_user %}
        Add User
    {% else %}
        Edit User
    {% endif %}
{% endblock %}


{% block content %}

<div class="content-section">
   <div class="outer">
      <div class="middle">
        <div class="inner">
           <div class="center">
                 <h2>{% if add_user %}
                    Add User
                  {% else %}
                    Edit User
                  {% endif %} </h2>
                 <br/>
                  {{ wtf.quick_form(form) }}
              </div>
           </div>
        </div>
    </div>
 </div>

{% endblock %}