
{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block content %}


    <h1 class="title">Manual State</h1>
    <div class="box">
        <form id="manualForm" name="manualMode"  method="post" action="{{ url_for('home.profile_task') }}"  >
            <div class="table-container">
                <table class="table">
                 <td>
                    <div class="field" style="float:left">
                     
                        <input class="button is-primary is-outlined" type="submit" value="Stop/Start" name="stopL" />
                        <input class="button is-primary is-outlined" type="submit" value="Capture" name="capture"/>
                        <input class="button is-primary is-outlined" type="submit" value="Grey" name="grey" />
                        <input class="button is-primary is-outlined" type="submit" value="Face Only" name="face" />
                        <input class="button is-primary is-outlined" type="submit" value="Start/Stop Recording" name="record" />
                       
                        <!--img src="http://192.168.1.42:8081" /-->
                        <img src="{{ url_for('home.video_feed') }}" height="80%">
               
                    </div>
                 </td>
                 <td>
                    <div style="height:400px; width:300px;">
                      
                        
                        <a href="#" id="up" style="font-size:30px;text-decoration:none;"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &#x1F881;&#x1F881;<br>Forward</a><br><br>
                        <a href="#" id="left" style="font-size:30px;text-decoration:none;"> &#x1F880;&#x1F880;Left</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="#" id="right" style="font-size:30px; text-decoration:none;"> Right &#x1F882;&#x1F882;</a><br><br>
                        <a href="#" id="down" style="font-size:30px;text-decoration:none;"> Backward<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &#x1F883;&#x1F883;</a>
                    
                      </div>
                 </td>
                </table>
            </div>
        </form>
    </div>
       
<script>
$( document ).ready(function(){
    $("#down").on("mousedown", function() {
     $.get('/down_side');
     }).on('mouseup', function() {
     $.get('/stop');
    });
    $("#up").on("mousedown", function() {
     $.get('/up_side');
     }).on('mouseup', function() {
     $.get('/stop');
    });
    $("#left").on("mousedown", function() {
     $.get('/left_side');
     }).on('mouseup', function() {
     $.get('/stop');
    });
    $("#right").on("mousedown", function() {
     $.get('/right_side');
     }).on('mouseup', function() {
     $.get('/stop');
    });
    
});
</script>
{% endblock %}
