
{% extends "profile.html" %}
{% block page_content %}
{{ super() }}
<div class="column is-4 is-offset-4">
    <h1 class="title">Manual State</h1>
    <div class="box">
        <form method="POST" action="/home">
            <div class="field" style="float:left">
               <!--img src="http://192.168.1.42:8081" /-->
              <img src="{{ url_for('home.video_feed') }}" height="80%">
              <a href="#" id="stopL">  Live steam Start/Stop </a>
              <a href="#" id="grey" > Grey </a>
              <a href="#" id="face" > Face only </a>
              <a href="#" id="record" > Start/Stop Recording <br></a>
              <a href="#" id="capture" > Capture <br></a>
            </div>
                  <div style="height:400px; width:300px; float:right;">
                      <h2>Web Controlled- Manually </h2>
                      <h2>Robot AAYA1.0</h2><br><br>
                    
                      <a href="#" id="up" style="font-size:30px;text-decoration:none;">  &#x1F881;&#x1F881;<br>Forward</a><br><br></center>
                      <a href="#" id="left" style="font-size:30px;text-decoration:none;"> &#x1F880;&#x1F880;Left</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      <a href="#" id="right" style="font-size:30px; text-decoration:none;"> Right &#x1F882;&#x1F882;</a><br><br>
                      <a href="#" id="down" style="font-size:30px;text-decoration:none;"> Backward<br> &#x1F883;&#x1F883;</a></center>
                  
                    </div>
        </form>
    </div>
</div>

<script>
$( document ).ready(function(){
    $("#down").on("mousedown", function() {
     $.get('/down_side');
     }).on('mouseup', function() {
     $.get('/stop');
    });
    $("#up").on("mousedown", function() {
     $.get('/up_side');
     }).on('mouseup', function() {
     $.get('/stop');
    });
    $("#left").on("mousedown", function() {
     $.get('/left_side');
     }).on('mouseup', function() {
     $.get('/stop');
    });
    $("#right").on("mousedown", function() {
     $.get('/right_side');
     }).on('mouseup', function() {
     $.get('/stop');
    });
    $("#stopL").on("mousedown", function() {
     $.get('/stopL');
    }).on('mouseup', function() {
     $.get('/stopL');
    });
    $("#face").on("mousedown", function() {
     $.get('/face');
    });
    $("#grey").on("mousedown", function() {
     $.get('/grey');
    });
    $("#capture").on("mousedown", function() {
     $.get('/capture');
    });
    $("#record").on("mousedown", function() {
     $.get('/record');
    });
    $("#aruco").on("mousedown", function() {
     $.get('/aruco');
    });
    $("#stopAruco").on("mousedown", function() {
     $.get('/stopAruco');
    });
});
</script>
{% endblock %}
