{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}

{% block content %}

<h1 class="title is-4">
    Web Controlled- Manually 
    Robot AAYA1.0
</h1>

<!--form id="modeForm" name="modeForm" method="post" action="{{  url_for('home.profile_mode') }}">
    <div class="control" >
        <label class="radio">
          <input type="radio" name="mode" id="manualMode" value="ManualState"  required>
            Manual State     
        </label> &nbsp; &nbsp; &nbsp;    
        <label class="radio">
           <input type="radio" name="mode" id="automaticMode" value="AutomaticState" required>
             Automatic State
        </label>
    </div>
</form-->
<form id="profileForm" action="{{  url_for('home.profile_mode') }}"  method="post">
    <div class="control" >
        <label class="radio">
          <input type="radio" name="mode" id="manualMode" onchange="SetData(this);" onClick="this.form.submit();" value="ManualState" >
            Manual State     
        </label> &nbsp; &nbsp; &nbsp;    
        <label class="radio">
           <input type="radio" name="mode" id="automaticMode" onchange="SetData(this);" onClick="this.form.submit();" value="AutomaticState" >
             Automatic State
        </label>
    </div>

<div class="container">
    {% block page_content %} {% endblock %}
</div>
</form>
<script type="text/javascript">
    function SetData (elem) { 
    localStorage.setItem(elem.getAttribute('name'), elem.getAttribute('id'));
   } 
   function GetData (item) { 
    return localStorage.getItem(item); 
  }

window.onload = function() {
   
    var Item = GetData ('type');
  
 
    if(Item != undefined) {
        document.getElementById(Item).checked = true;
      } 
}

</script>


{% endblock %}