{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}

{% block content %}

<h1 class="title is-4">
    Web Controlled- Manually 
    Robot AAYA1.0
</h1>

<form id="modeForm" name="modeForm"  onchange="saveData" >
    <div class="control" >
        <label class="radio">
          <input type="radio" name="mode" id="manualMode" value="ManualState"  required>
            Manual State     
        </label> &nbsp; &nbsp; &nbsp;    
        <label class="radio">
           <input type="radio" name="mode" id="automaticMode" value="AutomaticState" required>
             Automatic State
        </label>
    </div>
</form>
<div class="container">
    {% block page_content%} {% endblock%}
</div>


<form id="manualForm" name="manualMode" onchange="saveData" method="post" action="{{ url_for('home.profile_task') }}"  >
    <div class="table-container">
        <table class="table">
         <td>
            <div class="field" style="float:left">
             
                <input class="button is-primary is-outlined" type="submit" value="Stop/Start" name="stopL" />
                <input class="button is-primary is-outlined" type="submit" value="Capture" name="capture"/>
                <input class="button is-primary is-outlined" type="submit" value="Grey" name="grey" />
                <input class="button is-primary is-outlined" type="submit" value="Face Only" name="face" />
                <input class="button is-primary is-outlined" type="submit" value="Start/Stop Recording" name="record" />
               
                <!--img src="http://192.168.1.42:8081" /-->
                <img src="{{ url_for('home.video_feed') }}" height="80%">
       
            </div>
         </td>
         <td>
            <div style="height:400px; width:300px;">
              
                
                <a href="#" id="up" style="font-size:30px;text-decoration:none;"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &#x1F881;&#x1F881;<br>Forward</a><br><br>
                <a href="#" id="left" style="font-size:30px;text-decoration:none;"> &#x1F880;&#x1F880;Left</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="#" id="right" style="font-size:30px; text-decoration:none;"> Right &#x1F882;&#x1F882;</a><br><br>
                <a href="#" id="down" style="font-size:30px;text-decoration:none;"> Backward<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &#x1F883;&#x1F883;</a>
            
              </div>
         </td>
        </table>
    </div>
</form>
<form id="automaticForm" name="automaticMode" method="post" onchange="saveData" hidden action="{{ url_for('home.automatic_state') }}" >
        <div class="table-container">
            <table class="table">
             <td>
                <div class="field" style="float:left">
                    <input class="button is-primary is-outlined" type="button" name="aruco" value="Aruco Live" id="arucoV"/>
                    <input class="button is-primary is-outlined" type="button" name="stopAruco" value="Stop Aruco" id="stopAruco"/>   
                    <script src="../static/js/profile.js"></script>
                    <img src="{{ url_for('home.video_feed') }}" height="50%">
                </div>
             </td>
             <td>
                <div class="field" style="float:right">
                   
                        <div class="content-section" id="modeSel">
                            <br/>
                            {{ utils.flashed_messages() }}
                            <br/>
                        </div>
            </td>
            <td>
                        {% if modes %}  
                        <label> Please select a mode :</label> 
                            <div class="select is-primary">                        
                                 <select id="modeSelect"  class="form-control" onchange="saveData(this)" id="all_modes">  
                                  {% for mode in modes %}
                                   <option value="{{mode.id}}" selected>
                                    {{ mode.name_mode }}                       
                                   </option>
                                 {% endfor %}
                                 </select>
                           </div> 
        
                        {% endif %}  
                        <br>
            </td>
            <td>
                      {% if numbersOfStation %} 
                    <label> Please select a number of stations :</label> 
                        <div class="select is-primary">                        
                             <select id="numberSelect"  class="form-control" onchange="saveData(this)" id="numberOfStations">  
                              {% for number in numbersOfStation %}
                               <option value="{{number}}" id="selectNumber" selected>
                                {{ number }}                       
                               </option>
                             {% endfor %}
                             </select>
                       </div> 
                       {% endif %} 
     
                    <br>
            </td>
            <td>     
                        <div class="content-section" id="statSel" >
                          <br/>
                          {{ utils.flashed_messages() }}
                          <br/>
                        </div>
            </td>
                    {% if stations %}
            <td>  
                    {% for num in numbersOfStation %}
                        <label> Please select a station :</label> 
                         <div class="select is-primary" id="select_station" hidden>   
                             <select id="stationSelect" class="form-control" onchange="saveData(this)" id="all_stations">
                               {% for station in stations %}
                                <option value="{{station.id}}" selected>
                                {{ station.name_station }}                       
                                </option>
                                {% endfor %}
                             </select>
                         </div>
                         {% endfor %}
                       {% endif %}
            </td>  
                 </div>
                <button class="button is-primary is-outlined" id="select_route" type="submit" saveData(this)" >Ok</button>
                    <div id="processed_results">
                            Here we display some output based on the selection
                    </div>
                    
             </td>
            </table>
        </div>
</form>


<script>
    function saveData(key,value) {
    localStorage.setItem(key,value) || (document.cookie = key + "=" + value);
   }
    document.modeForm.onclick = function(){
    var mode = document.querySelector('input[name = mode]:checked').value;
    localStorage.setItem("option", mode);
    switch(mode){
        case 'ManualState':document.getElementById("manualForm").hidden=false;
        document.getElementById("automaticForm").hidden=true;
        break;
        case 'AutomaticState':document.getElementById("manualForm").hidden=true;
        document.getElementById("automaticForm").hidden=false;
        break;
        default:document.getElementById("manualForm").hidden=true;
        document.getElementById("automaticForm").hidden=true;
    }
    };
    $(function(){
    var mode=localStorage.getItem("option");
    if(mode !== null){
        $("input[value="+ mode+"]").click();
        switch(mode){
        case 'ManualState':document.getElementById("manualForm").hidden=false;
        document.getElementById("automaticForm").hidden=true;
        break;
        case 'AutomaticState':document.getElementById("manualForm").hidden=true;
        document.getElementById("automaticForm").hidden=false;
        break;
        default:document.getElementById("manualForm").hidden=false;
        document.getElementById("automaticForm").hidden=true;
        }
    }
    });
    $( document).ready(function(){
    $("#down").on("mousedown", function() {
     $.get('/down_side');
     }).on('mouseup', function() {
     $.get('/stop');
    });
    $("#up").on("mousedown", function() {
     $.get('/up_side');
     }).on('mouseup', function() {
     $.get('/stop');
    });
    $("#left").on("mousedown", function() {
     $.get('/left_side');
     }).on('mouseup', function() {
     $.get('/stop');
    });
    $("#right").on("mousedown", function() {
     $.get('/right_side');
     }).on('mouseup', function() {
     $.get('/stop');
    });
/*
    $("#grey").on("mousedown", function() {
    $.get('/grey');
    });

    $("#stopL").on("mousedown", function() {
    $.get('/stopL');
    });
    $("#face").on("mousedown", function() {
     $.get('/face');
   });

   $("#record").on("mousedown", function() {
    $.get('/record');
   });
   $("#capture").on("mousedown", function() {
    $.get('/capture');
   });*/

   $("#arucoV").click(function() {
    $.get('/arucoV');
   });
   $("#stopAruco").click(function() {
    $.get('/stopAruco');
   });
   

  
   $("#numberSelect").change(function () {
     var selectedNumber = $("#numberSelect option:selected").val();
     alert("You have selected the country - " + selectedNumber);
     document.getElementById("select_station").hidden=false;
     });

   $("#select_route").bind('click', function() {

   $.getJSON('/_process_data', {
      selected_class: $('#all_modes').select.val(),
      selected_entry: $('#all_stations').select.val(),


   }).success(function(data) {
      $('#processed_results').text(data.random_text);
   })
    return false;
});
$('form').FormCache();
});


</script>

{% endblock %}